@media screen and (max-width: 1300px) {
    .navbar-brand {
        width: 170px;
        margin: 0;
    }

    .nav-link {
        font-size: 17.5px;
        margin: 3px;
    }
}

@media screen and (max-width: 1100px) {
    .nav-link {
        font-size: 15px;
    }

    .navbar-brand {
        width: 150px;
        margin: 0;
    }

    .teacher {
        width: 27%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        margin: -30px;
    }
}

@media screen and (max-width: 970px) {
    .nav-link {
        font-size: 17px;
        padding: 0;
        margin: 2px;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-nav {
        margin: 0 auto;
    }
}

@media screen and (max-width: 885px) {
    .advantages-group {
        margin: 3 auto;
    }

    .navbar-brand {
        margin: 0;
    }

    .nav-link {
        font-size: 14.5px;
        margin: 1px;
    }

    .learn-element {
        width: 19%;
        padding: 5px;
    }

    .header-text {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: block;
    }

    .nav-link {
        font-size: 18px;
        margin: 4px;
        text-align: center;
    }
}

@media screen and (max-width: 720px) {
    .header-text {
        font-size: 2.1em;
    }

    .title {
        font-size: 23px;
        padding: 10px;
    }

    .advantages-group {
        display: block;
        padding: 10px;
        width: 100%;
    }

    .advantages-group p {
        margin: 0 auto;
        font-size: 14px;
    }

    .half {
        display: block;
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }

    .complex {
        padding: 10px;
    }

    .choose-element {
        margin: 15px 0;
    }

    .title-2 {
        font-size: 16px;
    }

    .choose-text {
        font-size: 14px;
    }

    .learn-element {
        padding: 10px;
        display: block;
        margin: 15px auto;
        width: 100%;
    }

    .teacher {
        display: block;
        width: 100%;
        margin: 10px auto;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .about-groups {
        display: block;
    }

    .about-single img {
        width: 263px;
    }

    .images {
        display: block;
    }

    .review {
        display: block;
        width: 100%;
    }

    .review img {
        width: 250px;
    }
}
